<div class="row row1">
<div class="col-lg-6  another">
<div class="card card1">
  <div class="card-header">
    <strong>Tr Dereceli Diamond 3 Beraber Çıkalım</strong><span class="rit">4/5</span>
  </div>
  <div class="card-body">
    <p class="card-text">Küme : Diamond 5 <span class="rit">Favori Şampiyonlar: Braum Lucian</span></p>
    <p class="card-text">Kurucu:Revegantor <span class="rit">Aradığı Rol: Orman</span></p>
    <p class="card-text">Oynadığı Roller: 1-Orman 2-Orta <span class="rit">Oyun Türü: Dereceli Tek/Çift</span></p>
    <div class="container center"><a href="#" class="btn btn-primary">Servera Katıl </a></div>
  </div>
</div>
</div>
<div class="col-lg-6   another">
<div class="card card1">
  <div class="card-header">
    <strong>Tr Dereceli Diamond 3 Beraber Çıkalım</strong>
  </div>
  <div class="card-body">
    <p class="card-text">Küme : Diamond 5 <span class="rit">Favori Şampiyonlar: Braum Lucian</span></p>
    <p class="card-text">Kurucu:Revegantor <span class="rit">Aradığı Rol: Orman</span></p>
    <p class="card-text">Oynadığı Roller: 1-Orman 2-Orta <span class="rit">Oyun Türü: Dereceli Tek/Çift</span></p>
    <div class="container center"><a href="#" class="btn btn-primary">Servera Katıl</a></div>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-6  another">
<div class="card card1">
  <div class="card-header">
    <strong>Tr Dereceli Diamond 3 Beraber Çıkalım</strong>
  </div>
  <div class="card-body">
    <p class="card-text">Küme : Diamond 5 <span class="rit">Favori Şampiyonlar: Braum Lucian</span></p>
    <p class="card-text">Kurucu:Revegantor <span class="rit">Aradığı Rol: Orman</span></p>
    <p class="card-text">Oynadığı Roller: 1-Orman 2-Orta <span class="rit">Oyun Türü: Dereceli Tek/Çift</span></p>
    <div class="container center"><a href="#" class="btn btn-primary">Servera Katıl</a></div>
  </div>
</div>
</div>
<div class="col-lg-6  another">
<div class="card card1">
  <div class="card-header">
    <strong>Tr Dereceli Diamond 3 Beraber Çıkalım</strong>
  </div>
  <div class="card-body">
    <p class="card-text">Küme : Diamond 5 <span class="rit">Favori Şampiyonlar: Braum Lucian</span></p>
    <p class="card-text">Kurucu:Revegantor <span class="rit">Aradığı Rol: Orman</span></p>
    <p class="card-text">Oynadığı Roller: 1-Orman 2-Orta <span class="rit">Oyun Türü: Dereceli Tek/Çift</span></p>
    <div class="container center"><a href="#" class="btn btn-primary">Servera Katıl</a></div>
  </div>
</div>
</div>
</div>
</div>>



 
   
     
